{% extends 'base.html' %}
{% block content %}

<h1>Mythology Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ mythology.name }}</span>
        <p>region: {{ mythology.region }}</p>
        <p>Description: {{ mythology.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'mythology_update' mythology.id %}">Edit</a>
        <a href="{% url 'mythology_delete' mythology.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="col s6">
  <form action="{% url 'add_prayer' mythology.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ prayer_form.as_p }}
    <input type="submit" class="btn" value="Add Prayer">
  </form>
  <br>
  {% if mythology.prayed_for_today %}
    <div class="card-panel teal-text center-align">{{mythology.name}} has been prayed for today</div>
  {% else %}
    <div class="card-panel red-text center-align">{{mythology.name}} might be missing you</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Prayer</th></tr>
    </thead>
    <tbody>
      {% for prayer in mythology.prayer_set.all %}
        <tr>
          <td>{{prayer.date}}</td>
          <td>{{prayer.get_prayer_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col s6">
    <h3>{{ mythology.name }}'s Gods</h3>
    {% if mythology.gods.count %}
      {% for god in mythology.gods.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ god.name }}
            </span>
            <div class="card-action">
              <form action="{% url 'remove_god' mythology.id god.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Gods</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Gods</h3>
    {% if gods.count %}
      {% for god in gods.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ god.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_god' mythology.id god.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{mythology.name}} Already Has All Gods Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_prayer');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
